/* FONTS */
@import url(../css/clash-display.css);


/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #f00078;
    --c-brand-light: #f553a4;
    --c-brand-rgb: 240, 0, 120;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.164);
    --transition: all 0.5s ease;
}


/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}


/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-warpper {
    position: relative;
    overflow: hidden;
}

.image-zoom-warpper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-warpper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link:hover {
    transform: scale(1.05);
    transition: ease 0.05s;
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BUTTON */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-light:hover {
    background-color: rgba(255, 255, 255, 0.863);
    border-color: rgba(255, 255, 255, 0.863);
    transform: scale(1.01);
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
    transform: scale(1.01);
}


/* MAIN */
#main {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.4), rgba(var(--c-brand-rgb), 0.2)), url(../images/main1.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 40px;
}

#about .section-title .line {
    width: 50px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

#services .section-title .line {
    width: 200px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

#portfolio .section-title .line {
    width: 80px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 10px auto 24px auto;
}

#testimonial .section-title .line {
    width: 150px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title .p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.2);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}


/* SERVICES */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 0;
    height: 0;
    background: rgba(var(--c-brand-rgb), 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background: rgba(255, 255, 255, 0.103);
    color: white;
}


/* COUNTER */
#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.7), rgba(var(--c-brand-rgb), 0.7)), url(../images/counter.png);
    background-position: center;
    background-size: cover;
}


/* PORTFOLIO */
.portfolio-item1 .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    bottom: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item1:hover .iconbox {
    opacity: 1;
    left: 50%;
}

.portfolio-item2 .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item2:hover .iconbox {
    opacity: 1;
    top: 50%;
}
.portfolio-item3 .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item3:hover .iconbox {
    opacity: 1;
    bottom: 35%;
}

.portfolio-item4 .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item4:hover .iconbox {
    opacity: 1;
    right: 30%;
}


/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}


/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
    border-color: var(--c-body);
    border-width: 1.5px;
}

#contact .form-control:focus {
    border-radius: 2px;
    box-shadow: none;
    border-color: var(--c-brand);
    transform: scale(1.01);
}


/* FOOTER */
footer p {
    color: rgba(255, 255, 255, 0.788);
}

.footerline {
    width: 100%;
    height: 2px;
    margin-top: 2em;
    background-color: var(--c-brand);
}

.social-icons .social {
    display: inline-flex;
}

.social-icons .social a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 100px;
}

.social-icons .social a:hover {
    background-color: var(--c-brand);
    color: white;
}